<div class="box box-danger">
  <div class="box-header">
    <h3 class="box-title"><%= record.class.model_name.human %>を削除</h3>
  </div>
  <div class="box-body">
    <p>実行すると関連するデータも含めて削除され、元に戻すことはできません。</p>
    <%= form_tag url_for(action: :destroy, id: record), method: :delete, class: 'destroy-form' do %>
      <input type="hidden" name="id" value="<%= record %>">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="confirmed" value="on"> 理解しました
        </label>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <input type="password" name="password" class="form-control" placeholder="パスワード">
        </div>
      </div>
      <button class="btn btn-danger" data-confirm="<%= record.class.model_name.human %>「<%= record %>」を削除します。関連するデータも削除されます。<br>実行すると元に戻すことはできません。"><i class="fa fa-trash-o"></i> 削除</button>
    <%- end -%>
  </div>
</div>
