<%- content_for :sidebar do -%>
  <div class="panel panel-default">
    <div class="panel-heading">設定</div>
    <div class="panel-body">
      <%= image_tag current_user.image(:avater_lg),
        class: 'img-responsive', alt: current_user.screen_name %>
    </div>
    <ul class="list-group">
      <a href="<%= settings_profile_path %>" class="list-group-item <%= 'active' if request.path == '/settings/profile' %>">プロフィール設定</a>
      <%- if ENV['facebook_app_id'] || ENV['twitter_api_key'] || ENV['google_client_id'] -%>
        <a href="<%= settings_oauth_path %>" class="list-group-item <%= 'active' if "#{controller_name}##{action_name}" == 'settings#oauth' %>">外部サイト連携</a>
      <%- end -%>
      <a href="<%= edit_registration_path(resource_name) %>"
        class="list-group-item <%= 'active' if controller.is_a?(Users::RegistrationsController) %>">
          アカウント設定</a>
    </ul>
  </div>
<%- end -%>
