<p>必要事項を入力の上、送信してください。</p>
<%= render 'partial/errors', record: @contact %>
<%= form_for(@contact, url: {}, html: {class: 'form-horizontal', id: 'form'}) do |f| %>
  <%= f.bootstrap_text :name, placeholder: '入力必須' %>
  <%= f.bootstrap_text :company %>
  <%= f.bootstrap_text :email, placeholder: '入力必須' %>
  <%= f.bootstrap_text :phone %>
  <%= f.bootstrap_textarea :body, placeholder: '入力必須', rows: 10 %>
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input class="btn btn-primary" style="width:100px;" type="submit" value="送信する">
    </div>
  </div>
<%- end -%>
