<%- content_for :pagetool do -%>
  <a href="<%= new_admin_user_path %>" type="button"
    class="btn btn-default <%= 'disabled' if cannot? :create, User %>">
    <span class="fa fa-plus"></span> 追加</a>
<%- end -%>

<%- if @records.empty? -%>
  <p>データがありません。</p>
<%- else -%>
  <div class="box">
    <div class="box-body no-padding">
      <div class="table-responsive">
        <table class="table table-hover silent-link">
          <thead>
            <tr>
              <th>名前</th>
              <th class="text-right"><%= User.human_attribute_name(:created_at) %></th>
            </tr>
          </thead>
          <tbody>
            <%- @records.each do |record| -%>
            <tr onclick="location.href='<%= admin_user_path(record) %>';"
              style="cursor:pointer;" class="<%= 'warning' unless record.confirmed_at %>">
              <td>
                <%= image_tag record.image(:avater_sm),
                  width: 24, height: 24,
                  alt: record.screen_name %>
                <%= link_to record, admin_user_path(record) %>
              </td>
              <td class="text-right">
                <%= l record.created_at %></td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= render 'partial/paginate', records: @records %>
<%- end -%>
